<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862202346549-4h0ibdnc3tvhg72o2vuke56b1d2b3v7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862202346549-4h0ibdnc3tvhg72o2vuke56b1d2b3v7g</string>
	<key>API_KEY</key>
	<string>AIzaSyABAIc-lTipHt5Gg8YB7HeF3MlM8nVaZkE</string>
	<key>GCM_SENDER_ID</key>
	<string>862202346549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTeste</string>
	<key>PROJECT_ID</key>
	<string>fir-teste-1b0a3</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-teste-1b0a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862202346549:ios:04bd79283c6b8cee9ac57c</string>
</dict>
</plist>